<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xj.iws.dao.EquipmentDao">

    <sql id="field">name,pic</sql>

    <resultMap id="BaseResultMap" type="com.xj.iws.entity.EquipmentEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pic" property="pic" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="EquipmentEntity" type="com.xj.iws.entity.EquipmentEntity" extends="BaseResultMap">
    </resultMap>

    <insert id="add" parameterType="EquipmentEntity">
        INSERT INTO equipment (<include refid="field" />) VALUES (${name},${pic})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM equipment WHERE id = ${id}
    </delete>

    <update id="update" parameterType="EquipmentEntity">
        UPDATE equipment
        <set>
            <if test="name != null">name = ${name},</if>
            <if test="pic != null">pic = ${pic},</if>
        </set>
        WHERE id = ${id}
    </update>

    <select id="list" resultMap="EquipmentEntity">
        SELECT id,name,pic FROM equipment
    </select>

    <select id="detail" parameterType="int" resultMap="EquipmentEntity">
        SELECT id,name,pic FROM equipment WHERE id = ${id}
    </select>

</mapper>