<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xj.iws.http.dao.LocationDao">

    <sql id="field">systemid,areaid,positionx,positiony,name,describes</sql>

    <resultMap id="LocationEntity" type="com.xj.iws.http.entity.LocationEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="systemid" property="systemId" jdbcType="INTEGER"/>
        <result column="areaid" property="areaId" jdbcType="INTEGER"/>
        <result column="positionx" property="positionX" jdbcType="DOUBLE"/>
        <result column="positiony" property="positionY" jdbcType="DOUBLE"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="describes" property="describes" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="add" parameterType="LocationEntity">
        INSERT INTO location (<include refid="field"/>) VALUES (${systemId},${areaId},${positionX},${positionY},'${name}','${describes}')
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM location WHERE id = ${_parameter}
    </delete>

    <update id="update" parameterType="LocationEntity">
        UPDATE location
        <set>
            <if test="systemId != null">systemid = ${systemId},</if>
            <if test="areaId != null">areaid = ${areaId},</if>
            <if test="positionX != null">positionx = ${positionX},</if>
            <if test="positionY != null">positiony = ${positionY},</if>
            <if test="name != null">name = '${name}',</if>
            <if test="describes != null">describes = '${describes}',</if>
        </set>
        WHERE id = ${id}
    </update>

    <select id="list" parameterType="int" resultMap="LocationEntity">
        SELECT id,
        <include refid="field"/>
        FROM location WHERE systemid = ${_parameter}
    </select>

    <select id="detail" parameterType="int" resultMap="LocationEntity">
        SELECT id,
        <include refid="field"/>
        FROM location WHERE id = ${_parameter}
    </select>

    <select id="query" resultMap="LocationEntity">
        SELECT id,
        <include refid="field"/>
        FROM location
        <where>
            <if test="systemId != null">AND systemid = ${systemId}</if>
            <if test="areaId != null">AND areaid = ${areaId}</if>
            <if test="cityId != null">AND areaid IN (SELECT areaid FROM area WHERE cityid = ${cityId})</if>
            <if test="provinceId != null">AND areaid IN (SELECT areaid FROM area WHERE cityid IN (SELECT cityid FROM city WHERE provinceid = ${provinceId}))</if>
        </where>
        ORDER BY systemid, areaid
    </select>
</mapper>